 *{
  box-sizing: border-box;
 }
 body{
  background-color: rgba(226, 226, 142, 0.747);
 }
 #sub-content1{
    padding: auto;
    background-color: rgba(230, 133, 133, 0.342);
    width:100%;
    border-radius: 15%;
    vertical-align: auto;
 }
 .image{
  display: inline-block;
  padding: 20px;
  /* padding-top: 25px; */
}
#main-image{
    height: 150px;
    width: 300px;
    border-radius: 10%;
}
#sub-para{
  display: inline-block;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  width: 66%;
}
#main-title{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgba(245, 162, 129, 0.918);
}
#recipe-list{
  background-color: rgba(0, 255, 255, 0.363);
  font-family: 'Raleway', sans-serif;
  border-radius: 8px;
}
.sub-content2-title{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 15px;
  font-size: 25px;
}
.recipe img{
  height: 150px;
  width: 300px;
  border-radius: 10px;
}
.recipe{
  font-size: 60px;
  margin-bottom: 20px;
  padding:15px 40px ;
  border: 2px solid rgba(84, 84, 238, 0.726);
  background-color: aliceblue;
  border-radius: 22px;
}

 
#recipe1 a{
  margin-right: 377px;
}
#recipe2 a{
  margin-left: 200px;
}
#recipe3 a{
  margin-right: 250px;
}